APP_PORT=9090
SECRET_KEY=
API_URL=http://plan
API_PATH=/api
API_VERSION=v1
SWAGGER_PATH=doc

DB_SCHEMA_NAME=content
DB_DRIVER=postgresql+psycopg2
DB_NAME=plan_db
DB_USER=manager
DB_PASSWORD=123qwe
DB_HOST=db-plan
DB_PORT=5432

UWSGI_PROCESSES=2
UWSGI_THREADS=16
UWSGI_HARAKIRI=240
